<h1>Assignments</h1>

<p><a href="/team">Close</a></p>

<p>Team: <%= team.name %></p>

<h2>Assignments</h2>

<% if (assignments.length) { %>
  <ul>
    <% for (let ix = 0; ix < assignments.length; ix++) { %>
      <li><%= assignments[ix].date %><a href="/team/<%= team._id %>/assignment/<%= assignments[ix]._id %>/share">Share</a></li>
    <% } %>
  </ul>
  <% } %>


<h2>Create a new assignment</h2>

<form action="/team/<%= team._id %>/assignment/create" method="get">
<button>create</button>
</form>

