<h1>Edit Team</h1>

<p><a href="/team">Close</a></p>

<p>Name: <%= team.name %></p>

<h2>Members</h2>

<% if (members.length) { %>
  <ul>
    <% for (let ix = 0; ix < members.length; ix++) { %>
      <li><%= members[ix].username %><form action="/team/<%= team._id %>/member/<%= members[ix]._id %>/delete" method="post"><button>Delete</button></form</li>
    <% } %>
  </ul>
  <% } %>


<h2>Create a new member</h2>

<form action="/team/<%= team._id %>/member" method="post">
  <div>
    <label for="name">New user username:</label>
    <input type="text" name="username">
  </div>
  <div>
    <input type="submit" value="Create">
    <% if (message) { %>
      <p><%= message %></p>
    <% } %>
  </div>
</form>

